
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
.bot {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 30px;
    z-index: 10000;
    height: auto;
    margin-left: 35px;
    width: 90px;
}
.bot img {
    width: 220%;
    height: max-content;
}

.chatScreenBot{
    animation: fadein 5s;
    z-index: 1;
    height:fit-content;
    margin-left: auto;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    opacity: 0.8;
    
}


@keyframes fadein {
    from {opacity:0;}
    50% {opacity: 0;}
    100% {opacity: 1;} 
}

.chatDelete {
    display:none
}
#chat {
    font-family: 'Teko', sans-serif;
    font-size: 23px;
}