.ButtonsAndTitle {
    background-color: transparent;
    position: relative;
    z-index: 2;
}

.NameCountry {
color: white;
}

.AllButtons {
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: 2;

}
.button {
margin: 15px 25px 15px 25px;
box-shadow: 0px 0px 7px 10px rgba(119, 119, 119, 0.75);
padding: 0px 0px 0px 0px;
}

.ButtonsAndTitle {
    text-align: center;
    margin-bottom:20px;
}

.buttonMonument {
padding: 0px;
border: 0px;
}

.buttonPicture {
    padding: 0px;
    border: 0px;
    }

.buttonRecipe {
    padding: 0px;
    border: 0px;
    }

.buttonPlay2 {
    padding: 0px;
    border: 0px;
    background:none;
    }

.buttonPlane {
    padding: 0px;
    border: 0px;
    }