html,
body {
  margin: 0;
  /* overflow: hidden; */
}

.earth {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%); 
  z-index: 3;
}

.earth > video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
