.boiteLogo{
    display: flex;
}
.Headerlogo {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
}
.logo {
    width: 150px;
}

.boiteLogo {
    position: relative;
    z-index: 4;
}
