.AllButtonsCountry
{
text-align: end;
margin-right: 30px;
}


body {
    background-color: black;
    /* margin-bottom: 5rem; */
}

/* .footer {
    height: 100%;
    width: 100%;
    position: fixed;
} */