@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.AllButtonsCountry
{
text-align: end;
margin-right: 30px;
}


body {
    background-color: black;
}

h1 {
    font-size: 60px;
    font-family: 'Dosis', cursive;
}
h2 {
    font-size: 50px;
    font-family: 'Rajdhani', cursive;

}
h3 {
    font-size: 50px;
    font-family: 'Rajdhani';
    color: white;
}
h4 {
    font-size: 35px;
    font-family: 'Dosis'
}
p {
    font-size: 25px;
    margin-top: 1em;
}
    /* margin-bottom: 5rem; */


/* .footer {
    height: 100%;
    width: 100%;
    position: fixed;
} */
